h1 {
    text-align: center;
    font-size: 70px;
    
}

.container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
}

.boxes {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    list-style: none;
    
    
}

.box {
    line-height: 200px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    height: 200px;
    width: 30%;
    margin: 20px;
    background-color: thistle
}