a {
    color: aliceblue;
}

a hover {
    color: cornflowerblue;
    text-decoration: none;
    
    
}

.navbar {
    display: fixed;
    background-color: black
}

.navbar-text {
    list-style: none;
    font-size: 24px;
    margin: 20px;
    letter-spacing: 1px;
    
}