h1 {
    color: white;
    font-family: helvetica;
    font-size: 50px;
    margin: 0px;

}

p {
    font-family: helvetica;
    font-size: 20px;
    
    
}

a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: lightslategrey;
    text-decoration: none;
    
}


#nav {
    position: fixed;
    display: inline;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 100%;
    height: 50px;
    z-index: 1;
}

#nav-buttons {
    width: 40%;
    color: #fff;
    list-style: none;
}

#name-header {
    position: relative;
    margin-left: 90%;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 10%;
    color: white;
    height: 20px;
    
}

.nav-link {
    display: inline;
    margin: 20px;
    font-family: helvetica;
    font-size: 20px;
}

#main {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 50px;
    width: 100%;
    height: 2000px;
    
}

section {
    position: relative;
    width: 100%;
    height: 715px;
}

.section-container-left {
    width: 37%;
    height: 715px;
    position: absolute;
    
    
}

#section-one {
    position: relative;
    background-image: url(/section_one_image.jpg);
    width: 100%;
    
}


#section-two {
    background-color: lightslategrey;
    
}

#section-three {
    background-color: dimgray;
    
}

.title-left {
    position: relative;
    line-height: 150px;
    margin-left: 20px;
    
    
}
    
.text-left {
    margin-left: 20px;
    height: 500px;
    color: white;
}