h1 {

  font-size: 50px;
}

h3 {

  font-size: 30px;
  color: white;
}

#container {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 1000px;
  top: 0px;
  left: 0px;
}

#left-sidebar {
  position: absolute;
  width: 30%;
}

#left-sidebar img {
  position: relative;
  margin-top: 30px;
  width: 450px;
  height: 250px;

}

#content {
  position: absolute;
  background-color: red;
  margin-left: 30%;
  width: 70%;
  height: 1000px;

}

.flex-item {
  height: 200px;
  width: 200px;
  margin: 30px;
  color: white;
  background-color: black;
  line-height: 200px;
  text-align: center;
  font-size: 3em;
  list-style: none;
}


.main-img {
  display: flex;
  display: block;
  justify-content: center;
  margin-top: 150px;
  margin-left: 315px;

}

.flex-container{
  padding: 0;
  margin-top: 2%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.sidebar-text {
  color: white;
  font-size: 20px;
}

#sidebar-container {
  position: relative;
  margin-left: 55px;
  width: 450px;

}
