#container {
    position: absolute;
    background-color: #d1f4ff;
    display: flex;
    flex-flow: row;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    background-color: #50aecc;
    color: aliceblue;
    font-family: helvetica;
    line-height: 20px;
    width: 30%;
    height: 30%;
    margin: 15px;
}

.person li {
    margin-top: 5px;
    list-style: none;
    font-weight: 100;
}

button {
    margin-top: 20px;
    height: 30px;
    width: 6%;
    font-size: 16px;
    
}

#main-window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #FFF;
    width: 90%;
    height: 700px;
    
}

.pic {
    float: right;
    
    
}
