#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0px;
    margin-left: 40%;
    width: 100%;
    
}


.bulb-on {
    background-color: #FFF;
   background-image: url("../../static/images/on.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    
} 

.bulb-off {
    background-color: #FFF;
   background-image: url("../../static/images/off.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    
} 

button {
    width: 200px;
    margin-left: 45px;
}